/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
  padding: 0;
  margin: 0;
}

.textosobrante {
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.puntosuspensivos {
  white-space: nowrap;
}

.headerProfile {
  height: 30vh;
  box-sizing: border-box;
  /* background-image: url(https://images.unsplash.com/photo-1552935088-b7474c4af004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1022&q=80	); */
  position: relative;

}

.img-headerProfile{
    object-fit:cover!important;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    /* z-index: -1; */
    position: absolute;
    /* box-sizing: content-box;
    padding-left: 3rem;
    padding-right: 3rem; */

}


.separacion{
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
}




.espaciadocard{
  padding-left: 2rem;
  margin-top: -7rem;
}

@media (min-width: 992px) {
  .text-img-headerProfile{
    margin-top: auto;
    padding-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  .text-img-headerProfile{
  display: flex;
  flex-direction: column;
  justify-items: center; 
  align-items: center;
}
}
